/* コンテナをflexboxにする */
#gridContainer {
  display: flex;
  flex-wrap: wrap;
}

/* width : height = 1 : 1 */
.grid {
  aspect-ratio: 1 / 1;
  border: 1px dashed black;
}

.form {
    font-size: 22px;
    margin: 20px;
}